figures
data/metabolism/metab_fits
data/model_fits
data/prepared_data/cleaned_data
code/download_prep_data/light/NLDAS
code/download_prep_data/light/MODIS
.Rproj.user
todo_ucfr.txt
.xlsx
.DS_store
*.docx
*.pdf

